body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

#banner {
  padding-top: 30px;
  background-color: #172252;
  color: white;
}

#banner a {
  color: white;
  text-decoration: none;
}

#banner a:hover {
  color: rgb(236, 185, 55);
  /* color: crimson; */
}
#banner a.active {
  color: rgb(236, 185, 55);
}

.title {
  font-size: 60px;
  font-family: 'Abhaya Libre', Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

nav {
  font-family: 'Abhaya Libre', Georgia, 'Times New Roman', Times, serif;
}


@media (min-width: 768px) {
  nav li {
    padding: 0 20px 0 0;
  }
  nav li+li:before {
    content: "|";
    padding-right: 20px;
  }
}

a {
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

.card {
  margin-top: 25px;
}

.socialBanner {
  float: right;
  font-size: 20px;
  padding-right: 10px;
}

.na-logo::before {

}

@media (max-width: 767px) {
  button {
    color: white;
  }
  #banner {
    padding-top: 25px;
  }
  #banner a {
    color: white
  }
  .title {
    font-size: 38px;
  }
}